.sec-1 {
  background-image: url("../img/students-celebrating-successfully-finished-project-min-scaled.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; 
  position: relative;
  overflow: hidden; 
}

