.section1 {
    background-image: url("../img/students-celebrating-successfully-finished-project-min-scaled.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    color: white;
  }
.section1 h1 {
    margin-top: 6rem;
    margin-bottom: 20px;
    z-index: 999;
    font-size: 3.3rem;
}
.section1 p {
    z-index: 999;
    font-size: 13px;
}

.bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Apply transparent black overlay */
    filter: blur(8px); /* Apply the blur effect */
    z-index: 0; /* Place it behind text */
  }
  
.custom-shape-divider-bottom-1738505485 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.section2{
    margin: 100px;
}
.Our-Location{
    position:absolute;
    right: 150px;
    top: 135%;
    width: 35%; 
     filter: grayscale(100%);
   transition: filter 0.5s ease-in-out;
}
.Our-Location:hover{
    filter: grayscale(0%);
}

.email{
    position: absolute;
    left :500px;
    top: 145%;
    padding-top:35px ;
}

.section3{
    background-color: azure;
}
.section3 .heading{
    position: relative;
    margin-left: 50%;
    width: 100%;
}
.Message{
    margin-left: 500px;
    padding: 100px;
}
button{
    width: 200px;
   
}