.navbar img {
    width: 200px;
}
.navbar li {
    display: inline-block;
}
.fb-500 {
    font-weight: 500;
}
.navbar button {
    background-color: #164582;
    font-size: 14px;
    padding: 15px 25px;
    border: 0 solid;
}

body {
    letter-spacing: 0.5px;
}
.letter-spacing {
    letter-spacing: 1.5px;
}